*{
	margin: 0;
	padding: 0;
	font-family:  Century Gothic;
}
header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(2.jpg);
	height:  100vh;
	background-size:  cover;
	background-position:  center;
}

ul
{
    float: left;
	margin-left: 70px;
    list-style-type:  none;
    margin-top: 50px;
}

ul li
{
	display:  inline-block;
}

ul li a
{
	text-decoration:  none;
	color: #fff;
	padding:  5px 20px;
	border:  1px solid transparent;
	transition:  0.6s ease;
}

ul li a:hover
{
	background-color:  #fff;
	color:  #000;
}

ul li.active a{
	background-color:  rgb(255, 255, 255);
	color:  #000;
}

.logo img
{
	float:  left;
	width:  100px;
	height:  auto;
	margin-top: 10px;
	transition: 0.6s ease-out;
}

.main{
	max-width:  1200px;
	margin:  auto;
}

.title{
	position:  absolute;
	top:  50%;
	left: 35%;
	transform:  translate(-50%,-50%);
}

.title h1{
	color:  #fff;
	font-family: 'Sacramento', cursive;
	font-size:  70px;

}

.stitle{
	position:  absolute;
	top:  73%;
	left:  35%;
	
	transform:  translate(-50%,-50%);
}

.stitle h2{
	color:  #cfcfcf;
	font-size:  20px;
	font-family: 'Montserrat', sans-serif;

}

.button
{
    position:  absolute;
	top:  80%;
	left:  35%;
	transform:  translate(-50%,-50%);
}

.btn{
	border: 1px solid #fff;
	padding:  10px 30px;
	color:  #fff;
	text-decoration:  none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color:  #fff;
	color:  #000;
}

.logo img:hover{
	transform: scale(1.1);
	z-index: 2;
	transition: 1s ease;
}